<script>
	const year = new Date().getFullYear();
</script>

<footer>
	<div class="container">Copyright © Your Website {year}</div>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 3em 0;
		background-color: #2f2f2f;
		color: #e2e2e2;
	}
	.container {
		text-align: center;
	}
</style>
