<div class="hero">
	<div class="container">
		<h2>Business Name or Tagline</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit facilis consequuntur adipisci
			eos, nulla accusamus, ab assumenda, ex ad hic dignissimos quisquam nisi? Rerum voluptates,
			corporis suscipit officiis iure beatae.
		</p>
	</div>
</div>

<style>
	.hero {
		padding: 5em 0;
		background-color: var(--primary-color);
		color: #e2e2e2;
	}

	h2 {
		margin: 0;
		font-size: 4em;
		font-weight: 500;
	}

	p {
		color: #ddd;
		font-size: 1.1em;
		line-height: 1.6;
	}
</style>
