<script>
	import { page } from '$app/stores';
	import { onMount } from 'svelte';

	const navs = [
		{ title: 'Home', href: '/' },
		{ title: 'About', href: '/about' },
		{ title: 'Services', href: '/services' },
		{ title: 'Contact', href: '/contact' },
		{ title: 'Profile', href: '/profile' },
		{ title: 'Dashboard', href: '/dashboard' },
		{ title: 'Blog', href: '/blog' }
	];

	onMount(() => {
		const userPrefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

		const hasUserManuallySetDarkMode = document.documentElement.dataset.theme === 'dark';

		if (!hasUserManuallySetDarkMode) {
			setTheme(userPrefersDarkMode ? 'dark' : 'light');
		}
	});

	// @ts-ignore
	const setTheme = (theme) => {
		document.documentElement.dataset.theme = theme;
		document.cookie = `siteTheme=${theme};max-age=31636000;SameSite=None;path="/"`;
	};

	$: routeId = $page.route.id?.length === 8 ? '/' : $page.route.id;
	$: url = $page.url.href;
</script>

<nav>
	<div class="container">
		<h1>Start Bootstrap</h1>
		<ul>
			{#each navs as { title, href }}
				<li>
					<a {href} {title} class:active={href === '/' ? routeId == href : url.includes(href)}
						>{title}</a
					>
				</li>
			{/each}
			<li><a href={'#'} on:click={() => setTheme('dark')}> Dark </a></li>
			<li><a href={'#'} on:click={() => setTheme('light')}> Light </a></li>
		</ul>
	</div>
</nav>

<style>
	nav {
		padding: 0.5em;
		background-color: #2f2f2f;
		color: #e2e2e2;
	}

	.container {
		display: flex;
		align-items: center;
	}

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		margin-left: auto;
		font-size: 1em;
	}

	li {
		margin-right: 20px;
	}

	h1 {
		margin: 0;
		font-size: 1.3em;
		font-weight: normal;
	}

	a {
		text-decoration: none;
		color: #c2c2c2;
		font-weight: bold;
	}

	.active {
		color: #f4f4f4;
	}
</style>
