<script>
	import Button from '$lib/Button.svelte';
</script>

<div class="container grid">
	<div class="what">
		<h3>What We Do?</h3>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, hic unde aliquid, iure
			suscipit, consectetur vel vero iusto ipsam sequi nobis sit! Quo, odit fuga ullam corrupti
			consequuntur saepe fugiat.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus at animi atque. Deleniti
			illum asperiores iure unde, a debitis, sequi dolores consequatur amet ducimus, nisi tempora
			laborum. Quas, recusandae magnam.
		</p>
		<Button class="secondary" id="a-button" size="small">Call To Action >></Button>
	</div>
	<div class="contact">
		<h3>Contact</h3>
		<p><strong>Start Bootstrap</strong></p>
		<p>3481 Melrose Place</p>
		<p>Beverly Hills, CA 90210</p>
		<p>P: (123) 456-7890</p>
		<p>E: <a href="mailto:name@example.com">name@example.com</a></p>
	</div>
</div>

<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 2em;
	}

	.what {
		grid-column: span 8;
	}

	.contact {
		grid-column: span 4;
	}

	h3 {
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		font-size: 2em;
		font-weight: 500;
		border-bottom: 1px solid #ddd;
	}

	a {
		text-decoration: none;
		color: var(--primary-color);
	}
</style>
