<script>
	import Seo from '$lib/Seo.svelte';
</script>

<div class="container grid">
	<div class="what">
		<h3>About Us</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur reiciendis, consequatur quo
			quos labore dolorum tempore asperiores provident, sapiente, placeat ipsa aperiam quis. Iste ab
			quidem architecto et fugiat ad.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sunt maiores explicabo eos rem.
			A minima deserunt libero eveniet saepe exercitationem sapiente nisi natus! A iure maxime
			repudiandae quos placeat.
		</p>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo expedita ratione rem hic a
			blanditiis veritatis labore temporibus autem, deserunt quasi voluptates dolorum atque quo
			alias dolores quod, ducimus minus.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, natus rerum autem
			incidunt voluptatibus nulla a dolore aliquid nemo dolorum laudantium. Consequuntur possimus
			quisquam consequatur fuga reiciendis, eius sit repellendus?
		</p>
	</div>
</div>

<Seo title="About | Business Frontpage" description="sample desc" type="WebPage" />

<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 2em;
	}
	.what {
		grid-column: span 8;
	}
	h3 {
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		font-size: 2em;
		font-weight: 500;
		border-bottom: 1px solid #ddd;
	}
</style>
