<script>
	import { applyAction, enhance } from '$app/forms';
	import Button from '$lib/Button.svelte';
	import Seo from '$lib/Seo.svelte';

	/**
	 * @type {{ status: any; }}
	 */
	export let form;
</script>

<div class="container">
	<h2>Concact Us</h2>

	{#if form?.success}
		<p class="success">{form?.status || ''}</p>
	{:else}
		<form
			method="POST"
			use:enhance={() => {
				return async ({ result, update }) => {
					await applyAction(result);
				};
			}}
		>
			<div class="form-group">
				<label for="name" class="col-md-3 control-label">Name</label>
				<div class="col-md-9">
					<input
						type="text"
						id="name"
						name="name"
						placeholder="Your name"
						class="form-control"
						value={form?.name || ''}
						class:error-input={form?.errors.name}
					/>
					{#if form?.errors.name}
						<p class="red">{form?.errors.name}</p>
					{/if}
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-md-3 control-label">Email</label>
				<div class="col-md-9">
					<input
						type="text"
						id="email"
						name="email"
						placeholder="Your email"
						class="form-control"
						value={form?.email || ''}
						class:error-input={form?.errors.email}
					/>
					{#if form?.errors.email}
						<p class="red">{form?.errors.email}</p>
					{/if}
				</div>
			</div>

			<div class="form-group">
				<label for="message" class="col-md-3 control-label">Message</label>
				<div class="col-md-9">
					<textarea
						class="form-control"
						name="message"
						id="message"
						rows="5"
						placeholder="Please enter your message"
						value={form?.message || ''}
						class:error-textarea={form?.errors.message}
					/>
					{#if form?.errors.message}
						<p class="red">{form?.errors.message}</p>
					{/if}
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-12">
					<Button type="submit" size="small">Submit</Button>
				</div>
			</div>
		</form>
	{/if}
</div>

<Seo title="About | Business Frontpage" description="sample desc" type="WebPage" />

<style>
	.container {
		width: 100%;
		padding: 2em 0;
	}

	h2 {
		font-weight: 500;
		font-size: 2em;
	}

	input,
	textarea {
		width: 100%;
		padding: 0.75em 1em;
		border-radius: 0.25em;
		border: 1px solid #999;
	}

	.form-group {
		margin-bottom: 1.5em;
	}

	label {
		display: block;
		padding-bottom: 0.5em;
	}

	.success {
		color: lightgreen;
	}

	.error-input {
		border: 0.1em solid red;
	}

	.error-textarea {
		border: 0.15em solid red;
	}

	.red {
		color: red;
	}
</style>
